@charset "UTF-8";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
	
	--background-color: red;
	
}

body {
	
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0px;
	overflow: hidden;
	
	
}

form {
	
	display: flex;
	width: 40%;
	margin: auto;
	
}

#createbox {
	
	display: flex;
	width: 40%;
	margin: auto;
	
}